# MongoDB
MONGO_USER=fitundfun
MONGO_PASSWORD=CHANGE_THIS_PASSWORD

# JWT
JWT_SECRET=CHANGE_THIS_GENERATE_AT_LEAST_32_CHARACTERS_LONG_SECRET

# URLs
CORS_ORIGIN=http://localhost:3000

# Admin (fuer seed/createAdmin Script)
ADMIN_EMAIL=admin@fitundfun.ch
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
